/*general style*/
html {
    font-size: 13px;
    height: 100%;
}

body {
    background-color: #eef0f8;
    color: #3f4254;
    height: 100%;
    font-family: Poppins,Helvetica,sans-serif;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.border-right {
    border-right: 1px solid #ebedf3 !important;
}

.text-justify {
    text-align: justify;
}

.fw-bold {
    font-weight: 700 !important;
}

.content-main-title {
    font-size: 2rem;
    color: #181c32;
    font-weight: bold;
    margin-bottom: 2rem;
}

.content-second-title {
    font-size: 1.5rem;
    color: #181c32;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.code-block {
    margin: 2rem;
}

/*header*/
.header {
    flex: 1 0 auto;
}

.page-header {
    padding: 0 3rem;
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    z-index: 1;
    display: flex;
}

.page-header .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.page-header .nav-list .nav-link {
    padding: 2rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #495057;
    border-bottom: 2px solid transparent;
}

.page-header .nav-list .nav-link:hover {
    color: #5d78ff;
    border-bottom: 2px solid #5d78ff;
}

.page-header .nav-list .nav-link.active {
    color: #5d78ff;
    border-bottom: 2px solid #5d78ff;
}
.switch-btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 10px;
    flex-direction: column;
    width: 100%;
}
.custom-control-input:checked~.custom-control-label::before{
    color: #fff;
    border-color: #5d78ff;
    background-color: #5d78ff;
}
/*sidebar*/
.sidebar {
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    z-index: 1;
    width: 70px;
    /*transition: width .3s;*/
}

.sidebar.open {
    width: 256px;
}

.sidebar-toggle {
    padding: 1rem 1rem;
    font-size: 2.5rem;
    background: #fff;
}

.sidebar-toggle a:hover {
    color: #5d78ff;
}

.sidebar-toggle a {
    color: #a2a3b7;
    transition: color .5s;
}

.sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebar-menu .menu-section {
    margin-top: 20px;
    padding: 0 25px;
}

.sidebar .sidebar-menu .menu-section .text-menu {
    color: #4c4e6f;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
}

.sidebar .sidebar-menu .menu-item {
    font-size: 1.5rem;
    padding: 9px 25px;
    text-transform: capitalize;
}

.sidebar .sidebar-menu .menu-item .menu-link {
    color: #4c4e6f;
}

.sidebar .sidebar-menu .menu-item .menu-link:hover {
    color: #5d78ff;
    text-decoration: none;
    transition: .4s;
}

.sidebar .sidebar-menu .menu-item .menu-link:hover i {
    color: #5d78ff;
    text-decoration: none;
    transition: .4s;
}

.sidebar .sidebar-menu .menu-item i {
    margin-right: 10px;
}

/*content*/
.content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    min-height: 100vh;
}

.content .page_content {
    flex: 1 0 auto;
    padding: 4rem;
}

.card.custom-card {
    border: none;
}

.wizard-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wizard-vertical .wizard-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    width: 400px;
    max-width: 100%;
    padding: 3rem 2rem;
}

.wizard-right {
    width: 100%;
    padding: 3rem 2rem;
}

.nav-link {
    cursor: pointer;
}

.wizard-icon {
    margin-right: 1rem;
    font-size: 2rem;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border: none;
    position: relative;
    padding: 1rem;
}

.nav-tabs .nav-link.active:after {
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: " ";
    height: 0;
    width: 0;
    border: solid transparent;
    position: absolute;
    border-left-color: #f3f6f9;
    border-width: 1rem;
}

.nav-tabs .nav-link.active {
    background-color: #f3f6f9;
}

.nav-tabs .nav-link {
    color: #181c32;
    display: flex;
}

.tab-content {
    font-size: 18px;
    height: 500px;
    overflow-y: auto;
}

.nav-link.active, .nav-link.active:hover, .nav-link.active:focus {
    border: none;
}

/*footer style*/
.footer {
    margin-top: 2rem;
    /*flex: 0 0 auto;*/
    display: flex;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

@media (max-width: 992px) {
    .wizard-vertical {
        flex-direction: column;
    }

    .wizard-vertical .wizard-left {
        width: auto;
        text-align: center;
    }

    .wizard-left.border-right {
        border: none !important;
    }

    .wizard-vertical .tab-content {
        overflow-y: hidden;
    }
}

/*theme*/
.sidebar-toggle,.sidebar,.page-header,.footer {
    transition: background-color 1s;
}
.wrapper.dark .footer{
    background-color:#1a1a27!important;
    color: #fff;
}
.wrapper.dark .sidebar-toggle {
    background-color: #1a1a27;
}

.wrapper.dark .sidebar {
    background-color: #1e1e2d;
}

.wrapper.dark .page-header {
    background-color: #1a1a27;
    color: #fff;
}

/* for lg switch*/

.custom-switch.custom-switch-lg .custom-control-label {
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2rem - 0.25rem));
}

/* for xl switch */

.custom-switch.custom-switch-xl .custom-control-label {
    padding-left: 4rem;
    padding-bottom: 2.5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
    width: calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    border-radius: calc(4rem - (2.5rem / 2));
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2.5rem - 0.25rem));
}

/*input style*/
input.form-control,textarea.form-control {
    padding: 1.5rem!important;
    background-color: #f3f6f9!important;
    border-color: #f3f6f9!important;
}
input.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(93, 120, 255,.25)
}
.btn{
    padding: .75rem!important;
}
.btn-primary{
    background-color: #5d78ff;
}
.btn-clear{
    color: #b5b5c3;
    background-color: transparent;
    border-color: transparent;
}
.btn-clear:hover{
    color: #5d78ff;
    background-color: #f3f6f9;
}
.btn.btn-primary {
    color: #fff;
    background-color: #3699ff;
    border-color: #3699ff;
}
.btn.btn-secondary {
    color: #3f4254;
    background-color: #e4e6ef;
    border-color: #e4e6ef;
}
.btn.btn-success {
    color: #fff;
    background-color: #1bc5bd;
    border-color: #1bc5bd;
}
.btn.btn-warning {
    color: #fff;
    background-color: #ffa800;
    border-color: #ffa800;
}
.btn.btn-danger {
    color: #fff;
    background-color: #f64e60;
    border-color: #f64e60;
}
.btn.btn-info {
    color: #fff;
    background-color: #8950fc;
    border-color: #8950fc;
}
.btn.btn-light {
    color: #7e8299;
    background-color: #f3f6f9;
    border-color: #f3f6f9;
}